.demo-preview{
    border-radius: 12px;
    background-color: $blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 54px;
    box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.4);
}

.image-preview{
    border-radius: 12px;
    box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.4);
    color: white;
    background-size: cover;
    background-position: center center;
}