
// fonts:
// 1) poppins
// 2) noto-sans
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
body{
    font-family: 'Poppins';
    background-color: #fafafb;
}
body > #root{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    align-items: start;
    height: 100vh;
}
h2{

    font-style: normal;
    font-size: 1.6em;
    // line-height: em(27px);
}
// h4{
//     font-size: 26px;
//     // line-height: em(26px);
// }