.upload-card{
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: em(12px);
}