// setup
@import 'setup/reset.scss';
@import 'setup/mixins';
@import 'setup/functions.scss';
@import 'setup/_variables.scss';
@import 'setup/globals';
@import 'setup/templates';
@import 'setup/helpers';

// cmps
@import 'cmps/_UploadPage.scss';
@import 'cmps/_Home.scss';
@import 'cmps/ImageGallery';
@import 'cmps/ImagePreview.scss';
@import 'cmps/ImageDetails';
@import 'cmps/_Popup.scss';